<p>Login</p>
<input type="text" size="40">
<p>Password</p>
<input type="text" size="40">
<p>{{result.login}}</p>
<p style="text-align: left"><button id="registerButton">Login</button>
<p style="text-align: left"><button>Register</button>
