<h1>HOME OF {{homeUserName}}</h1>
<h1>User id: {{userId}}</h1>
<input id = "searchInput" type="text" size="40">
<p><font color="red">{{errorMessage}}</font></p>
<p style="text-align: left"><button id="searchButton">Search</button>
 <body>
  <table border="1">
    <td width="200" height="300">
      <div style="width: 200px; height: 300px; overflow: auto">
        <ol id="contactsList">
        </ol>
      </div>
    </td>
    <td width="500" height="300">
      <div style="height:300px; overflow: auto">
        <ol id= "messagesList">
        </ol>
      </div>
    </td>
  </table>
   <input id = "messageField" type="text" size="40">
   <p style="text-align: left"><button id="sendMessageButton">Send</button>
 </body>
