<p>Login</p>
<input id="loginField" type="text" size="40">
<p>Password</p>
<input id="passwordField" type="text" size="40">
<p>Name</p>
<input id="nameField" type="text" size="40">
<p><font color="red">{{errorMessage}}</font></p>
<p style="text-align: left"><button id="registerButton">Register</button>
<p style="text-align: left"><button id="loginButton">Login</button>
